#address {
    .address__header {
        width: 300px;
        border-bottom: 2px solid $c-black;
        padding: $padding 0;
        position: relative;
        margin-bottom: $margin-xxl;


        h1 {
            font: {
                weight: $font-weight-800;
                size: $font-size-xl;
            }
        }

        &::after {
            @include line();
        }
    }

    .address__container {
        p {
            margin-bottom: $margin;
            font-weight: $font-weight-500;
        }
    }
}