// Distance
$margin-xs: .25rem;
$margin-sm: .5rem;
$margin-md: .75rem;
$margin: 1rem;
$margin-lg: 1.25rem;
$margin-xl: 1.725rem;
$margin-xxl: 2.5rem;

$padding-xs: .25rem;
$padding-sm: .5rem;
$padding-md: .75rem;
$padding: 1rem;
$padding-lg: 1.25rem;
$padding-xl: 1.725rem;
$padding-xxl: 2.5rem;

$line-height-xs: .25rem;
$line-height-sm: .5rem;
$line-height-md: .75rem;
$line-height: 1rem;
$line-height-lg: 1.25rem;
$line-height-xl: 1.725rem;
$line-height-xxl: 2.5rem;

$gap-xs: .25rem;
$gap-sm: .5rem;
$gap-md: .75rem;
$gap: 1rem;
$gap-lg: 1.25rem;
$gap-xl: 1.725rem;
$gap-xxl: 2.5rem;
