$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@for $i from 1 through 12 {
    .col-#{$i} {
        width: calc((100% / 12) * #{$i});
    }
}

@media (max-width: $breakpoint-sm) {
    .container {
        width: 95% !important;
    }

    // .row {
    //     display: block !important;
    // }

    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            width: calc((100% / 12) * #{$i})
        }
    }

}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    .container {
        // width: 540px !important;
        width: 95% !important;

    }

    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            width: calc((100% / 12) * #{$i});
        }
    }

}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    .container {
        width: 720px !important;
    }

    .row {
        display: block;
    }

    @for $i from 1 through 12 {
        .col-md-#{$i} {
            width: calc((100% / 12) * #{$i});
        }
    }

}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
    .container {
        width: 960px !important;
    }
   
    .row {
        display: flex;
    }

    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            width: calc((100% / 12) * #{$i});
        }
    }
}

@media (min-width: $breakpoint-xl) {
    .container {
        width: 1140px !important;
    }

    .row {
        display: flex;
    }


    @for $i from 1 through 12 {
        .col-xl-#{$i} {
            width: calc((100% / 12) * #{$i});
        }
    }
}