@{
    Layout = null;
}

@model ChangePasswordVM

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/resources/img/raja.png">
    <link rel="shortcut icon" type="image/png" href="~/resources/img/raja.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/assets/css/typography.css">
    <link rel="stylesheet" href="~/assets/css/default-css.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/img/uversalfilo.png" rel="icon">
    <link href="~/img/uversalfilo.png" rel="apple-touch-icon">

    <style>
        body{
            overflow:hidden;
        }
    </style>

</head>

<body>


    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area" style="background: url(/assets/images/overlay-bg.jpg)">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="post">
                    <div class="login-form-head">
                        <h4>Change Password</h4>
                        <p>Hey! Change Your Password and comeback again</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <input type="hidden" asp-for="UserName" value="@Model.UserName" />
                            <label asp-for="OldPassword">Old Password</label>
                            <input type="password" asp-for="OldPassword">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                            <i class="ti-lock"></i>
                        </div>
                        <div class="form-gp">
                            <label asp-for="NewPassword">New Password</label>
                            <input type="password" asp-for="NewPassword">
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                            <i class="ti-lock"></i>
                        </div>
                        <div class="form-gp">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input type="password" asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword"></span>
                            <i class="ti-lock"></i>
                        </div>
                        <div class="submit-btn-area mt-5">
                            <button id="form_submit" type="submit">Reset <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    <!-- login area end -->
    <!-- jquery latest version -->
    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".form-gp input").each(function (x) {
                if ($(this).val() != "") {
                    $(this).focus()
                }
            })
        })
    </script>

    <!-- others plugins -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/scripts.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>

</html>
